<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>JS ECF</title>
<link rel="stylesheet" media="all" href="bootstrap/css/bootstrap.css">
<link rel="stylesheet" media="all" href="css/main.css">
<base target="_blank">
<script src="js/util.js"></script>
<script src="js/app.js"></script>
</head>
<body>

<section id="main">
    <button id="LeituraX" class="btn">Leitura X</button>
    <button id="AbreCupom" class="btn">Abre Cupom</button>
  <!--<nav>
    <h2>Google Drive Uploader</h2>
    <button class="btn" data-ng-click="fetchDocs()">Refresh</button>
    <button class="btn" id="close-button" title="Close">x</button>
  </nav>

  <ul>
    <li data-ng-repeat="doc in docs">
      <img data-ng-src="{{doc.icon}}"> <a href="{{doc.alternateLink}}">{{doc.title}}</a>  {{doc.size}}
      <span class="date">{{doc.updatedDate}}</span>
    </li>
  </ul>-->
</section>
</body>
</html>